/* Epilogue by ETC. */

@font-face {
  font-family: "Epilogue";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url("./fonts/Epilogue-Regular.woff2") format("woff2"),
    url("./fonts/Epilogue-Regular.woff") format("woff"),
    url("./fonts/Epilogue-Regular.otf") format("opentype"),
    url("./fonts/Epilogue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Epilogue";
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  src: url("./fonts/Epilogue-Italic.woff2") format("woff2"),
    url("./fonts/Epilogue-Italic.woff") format("woff"),
    url("./fonts/Epilogue-Italic.otf") format("opentype"),
    url("./fonts/Epilogue-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Epilogue";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url("./fonts/Epilogue-Bold.woff2") format("woff2"),
    url("./fonts/Epilogue-Bold.woff") format("woff"),
    url("./fonts/Epilogue-Bold.otf") format("opentype"),
    url("./fonts/Epilogue-Bold.ttf") format("truetype");
}
